*{
    margin:0;
    padding: 0;
    list-style: none;

}
p{
    margin-bottom: 0;   
}
body,html{
    width: 100%;
    height: 100%;
}
html {
  scroll-behavior: smooth;
}
span>a{
    color:rgb(94, 94, 94);
}
span>a:hover{
    color:rgb(2, 2, 2);
}
@media (max-width:1920px){
.jumbotron-fluid{
    background:-webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,1)),url(../img/bg.jpg) no-repeat fixed;
    /* background: url(../img/bg.jpg) no-repeat fixed; */
    background-size: cover;
    height: 100vh;
}
.jumbotron-fluid .txt{
    padding: 20px;
    position: absolute;
    left: 35%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.jumbotron{
margin-bottom: 0rem;
}

.txt h1{
    color: rgb(245, 191, 191);
}
.txt p{
    color:rgb(245, 191, 191);
}
.navbar{
    padding: .5rem .5rem;
    margin: 0;
}
.navbar-nav{
        margin-left: 1rem;
}
.navbar-brand{
    display: contents;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.align-center{
    display: flex;
    align-items: center;
}
.flex-direction{
    flex-direction: column;
}
.nav-color{
background: rgba(241, 86, 86, 0.9);

}
.btn-primary {
    color: #fff;
    background-color: #5e210f;
    border-color: #911a05;
}
.btn-primary:hover {
    color: #fff;
    background-color: #911a05;
    border-color:  #5e210f;
}
.item img{
    width: 100%;
    height: 400px;
      object-fit: cover;
}

.cardMenu .txt {
        
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.cardMenu:hover .txt {
        
        filter: grayscale(0);
    }


    .cardMenu:hover img {
        filter: grayscale(0);
    }

    .cardMenu:hover .txt {
        filter: grayscale(0);
        background-color: rgba(100, 64, 64);
        background: linear-gradient(rgba(169, 108, 108), rgba(100, 64, 64));

    }

    .cardMenu .item {
    border: 1px solid #fff;
    transition: .5s;
    height: 100%;
    transform: translateY(0%);
    background-color: rgba(100, 64, 64);
    
    filter: grayscale(0.5); 
}

    .cardMenu:hover .item {
        transform: translateY(-30px);
        filter: grayscale(0);

    }

    .cardMenu .txt h4 {
        align-items: center;
        margin-top: .8rem;
        display: flex;
        flex-direction: column;
        color: white;
        transition: 1s;

    }

    .cardMenu:hover .txt h4 {
        color: #212529;

    }

    .cardMenu .txt h4:after {
        content: "";
        border-bottom: 2px solid rgb(214, 7, 7);
        width: 100%;
        margin-top: .5rem;
        transform: translateY(0%);
        transition: 1s;
    }

    .cardMenu:hover .txt h4:after {
        content: "";
        border-bottom: 2px solid #212529;
        transform: translateY(100%);

    }



    .cardMenu .txt h4:before {
        content: "";
        border-top: 50px solid transparent;

        border-left: 70px solid rgb(103, 64, 64);
        border-right: 70px solid rgb(103, 64, 64);
        position: absolute;
        top: -50px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
    }

    .cardMenu:hover .txt h4:before {
        content: "";
        border-top: 50px solid transparent;

        border-left: 70px solid rgba(169, 108, 108);
        border-right: 70px solid rgba(169, 108, 108);
        position: absolute;
        top: -50px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
    }


    .cardMenu .txt p {
        margin-top: .5rem;
        text-align: justify;
        padding: 10px;
        color: white;
        transition: 1s;
    }

    .cardMenu:hover .txt p {
        margin-top: .5rem;
        text-align: justify;
        color: #212529;
    }

    .opera{
        background-color: rgba(0,0,0,1);
        background-attachment: fixed;
    }
    .opera h3, .story h3 {
        filter: grayscale(0);
        color: white;
        text-align: center;
    }

   

    .story .pic {
        width: 45%;
    }

    .pic img {
        width: 100%;
    }

    .wrap:nth-child(even) .pic {
    width: 45%;
    position: absolute;
    right: 0%;
}

    .wrap {
        margin: 3.5rem 0 0 0;
        display: flex;
        align-items: center;
        position: relative;
    }

    .wrap:nth-child(odd) .txt {
        width: 57%;
        background: rgba(186, 73, 73, 0.5);
        position: absolute;
        z-index: 1;
        padding: 2% 4%;
        right: 0%;
    }

    

    .wrap:nth-child(even) .txt {
        width: 57%;
        background: rgba(186, 73, 73, 0.5);
        z-index: 1;
        padding: 2% 4%;
        
    } 

    .wrap .txt h4 {
        color: antiquewhite;
    }

    .story {
        background: linear-gradient(0deg, #000, #120707) center center /100% 100%;
        background-attachment:fixed;
    }

    .quote {
        width: 100vw;
        height: 100vh;
        background-size:contain;
        background:-webkit-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,1)),url(../img/quote1.jpg) top right no-repeat fixed;

    }
    .quote .right{
        background:-webkit-linear-gradient(left,#000 ,rgba(0,0,0,0) );
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quote .right .txt h4{
        color: white;
    }


    .contact {
        background:url(../img/contact1.jpg)no-repeat;
        width: 100vw;
        height: 120vh;
        background-size:cover;
        background-attachment: scroll;
    }

    .contact .container{
        background-color: rgba(255,255,255,0.5);
    }

    .contact .jumbotron {
        text-align: center;
    }

    .contact h4, .contact p{
        text-align: center;
        color: white;
    }
    .MBappear{
        display: none;
    }
    .PCappear{
        display: block;
    }
    .dropdown-menu {
        background-color: rgb(213, 132, 98);
    }
    .contact .jumbotron {
    padding: 0rem 1rem;
}
}

@media(max-width:1024px){
.quote {
        height: 80vh;
            background: -webkit-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,0.6)),url(../img/quote1.jpg) top center no-repeat fixed;
}
.quote .right{
    background:none ;
}

    
    
.contact {
    background: url(../img/contact1.jpg)no-repeat center center;
    width: 100vw;
    height: 100vh;
}
.jumbotron-fluid .txt {
    position: absolute;
    left: 18%;
    top: 39%;
    width: 70%;
}
.pl-5 {
     padding-left: 0rem!important;
}
}
@media(max-width:992px){
    .MBappear{
        display: block;
    }
    .PCappear{
        display:none;
    }
}
@media(max-width:800px){
        .jumbotron-fluid .txt {
        padding: 0px;
    }
        .jumbotron-fluid{
            display: flex;
            align-items: flex-end;

    }


        .display-4 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .mt-5 {
        margin-top: 2.5rem!important;
    }
    .wrap:nth-child(even) {
        display: flex;
        position: unset;
        flex-direction: column-reverse;
    }
    .wrap:nth-child(odd){
        display: flex;
        position: unset;
        flex-direction: column;
    }
    
    .wrap:nth-child(even) .txt {
        width: 100%;
    }
    .wrap:nth-child(odd) .txt {
    width: 100%;
    background: rgba(186, 73, 73, 0.5);
    z-index: 1;
    padding: 2% 4%;
    right: 0%;
    position: unset;
}
    .wrap:nth-child(even) .pic {
    width: 100%;
     position: unset;
    
}
 .quote .right {
    width: 90%;
    margin: auto;
}
.story .pic {
    width: 100%;
}
    .contact {
    background: url(../img/MBcontact1.jpg)no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position-x: 0rem;
}
    
}


@media(max-width:414px){
    .jumbotron-fluid .txt{
            position: inherit;
            text-align: justify;
            width: 100%;
    }
    .jumbotron-fluid {
    display: flex;
    align-items: flex-end;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,1)),url(../img/bg.jpg) no-repeat fixed;
    background-size: cover;
    height: 80vh;
}
.quote{
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,1)),url(../img/MBquote1.jpg) top center no-repeat fixed;
    background-size: cover;
    height: 50vh;
}
.quote .right {
    width: 100%;
    margin: auto;
    height: 50vh;
}
.pl-5 {
    padding-left: 1rem!important;
}
.contact {
    background: url(../img/MBcontact1.jpg)no-repeat center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.contact .jumbotron {
    padding: 0rem 1rem;
}
.contact .container .jumbotron {
    padding: 2rem 1rem;
}


}
@media(max-width:375px){
    .contact {
    background: url(../img/MBcontact1.jpg)no-repeat center;
    background-position-x: -11rem;
}

}